In [82]:
import pandas as pd
import numpy as np

## Работа с таблицой

Создадим небольшой датафрейм

In [88]:
np.random.seed(1000-7)
df = pd.DataFrame({'A': list(range(5)), 
                   'B': np.random.randint(0, 10, 5),
                   'C': np.random.randint(-10, 10, 5), 
                   'D': np.random.randint(-10, 100, 5)})
df

   A  B  C   D
0  0  0 -1  65
1  1  3 -2  21
2  2  3 -1  77
3  3  7 -7  65
4  4  2  8  -4

In [89]:
#Спрячем индекс
df.style.hide()

In [90]:
#Добавим подпись к таблице

df = df.style.hide().set_caption('Brent price')
df

In [91]:
# Нанесем хитмэп
(df
 .highlight_min('A', color='red')
 .highlight_max('B', color='orange')
 .background_gradient(subset=['C','D'],cmap='viridis')
)

## Форматирование изображения

In [92]:
df = pd.DataFrame({'A': np.linspace(1, 10, 5)})
df = pd.concat([df, pd.DataFrame(np.random.randn(5, 4), columns=list('BCDE'))],axis=1)
df['F'] = np.random.choice(['A', 'B'], size=5)
df.iloc[3, 3] = np.nan 
df.iloc[0, 2] = np.nan 
df

       A         B         C         D         E  F
0   1.00 -0.273709       NaN  0.339979 -1.383953  A
1   3.25 -1.268031  0.770753 -0.137582  0.009736  A
2   5.50 -0.317330 -1.130181  2.430871  1.027037  A
3   7.75 -0.239790  0.380286       NaN -1.604199  A
4  10.00 -0.093522 -0.557503  0.015578 -0.442700  A

Оставим два знака, добавим плюс для положительных, кроме F

In [93]:
df.style.format("{:+.2f}", subset=df.columns.drop('F'))

Работа с таблицей